nav{
    background-color:#e0e007;
    color:black;
    padding: 25px;
   
}
nav > .navbar{
    display: flex;
    justify-content:flex-end;
    gap: 30px;
    font-size: 17px;
}
.navbar h2{
    text-align: left;

} 
.carousel-item img{
    height: 300px;
    width: 100%;
}